[data-menu="button"] {
  display: flex;
  align-items: center;
  background: #222;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: monospace;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  z-index: 300;
  position: relative;
}

[data-menu="button"]::before {
  content: '';
  display: inline-block;
  height: 2px;
  width: 12px;
  background: #fff;
  box-shadow: 0 4px #fff, 0 -4px #fff;
  margin-right: 4px;
  transition: transform .3s;
}

[data-menu="button"].active::before {
  transform: rotate(90deg);
}

[data-menu="list"] {
  display: none !important;
  position: absolute;
  background: #fb5;
  width: 160px;
  z-index: 200;
  padding: 60px 0 20px !important;
  top: 0;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);
}

[data-menu="list"].active {
  display: block !important;
  animation: show-right .3s forwards;
}

.dropdown-menu {
  position: static;
  border: none;
}

@media screen and (min-width: 740px) {
  [data-menu="button"] {
    display: none;
  }

  [data-menu="list"] ul {
    display: flex !important;
    flex-wrap: wrap;
    padding: 10px;
  }
}
